.aboutContent{
    background: #fff;

}
.margin-0{
    margin:0 !important;
}
.content-gray{
    background: #e6e5e5 !important;
}
.bg-blue{
    background: #262c49;
    margin-top: -1px;
}
.margin-b-30{
margin-bottom: 30px;
}
.aboutContent{
    color: black;
    background: #f7f7f7;
    text-align: left;
    padding:10px;
    padding-top:30px;
}
.sub-heading{
    background: #e9e9e8;
    padding:10px;
    font-size: 18px;
}
.sub-list{
    padding: 10px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom-down{
    bottom: 0;
    position: absolute;
}